body {
    text-align: center;
    font-family: 'Noto Sans';
    background-image: url('darkwallpaper.webp');
    color: rgba(255, 255, 255, 0.8);
}

#canvas {
    background-color: rgba(255, 0, 0, 0.8);
    height: 900;
    width: 1400;
}

button {
    background-color: #2E2E2E;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
}